* {
  box-sizing: border-box;
}

.form-border {
  border-radius: 1.5em;
  border: 3px solid darkblue;
  background-color: #fdb813;
  background-image: linear-gradient(315deg, #fdb813 0%, #788cb6 74%);
}

.tbl-border {
  background-color: lightgray;
}

.desc {
  color: lightgoldenrodyellow;
  font-weight: bold;
}

.amt {
  color: lightgoldenrodyellow;
  font-weight: bold;
}

.balance {
  font-size: x-large;
  color: red;
  font-weight: bold;
}

.balance-border {
  padding: 50px;
  border-radius: 1.5em;
  background-color: #fdb813;
  background-image: linear-gradient(315deg, #fdb813 0%, #788cb6 74%);
}

form {
  padding: 1em;
  margin-top: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.form-img {
  background-image: url("./images/finance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}
form button:hover {
  background: gold;
}

label {
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

input {
  //width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

@media (min-width: 400px) {
  form {
    overflow: hidden;
  }

  label {
    float: left;
    width: 130px;
  }

  input {
    float: left;
    width: calc(100% - 130px);
  }

  button {
    float: right;
    width: calc(100% - 130px);
  }
}

.container {
  width: 100%;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  font-weight: 400;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
